In [1]:
import pandas as pd
import csv

In [2]:
final_df_path = "./final_omdb_df.csv"
omdb_df = pd.read_csv(final_df_path)

In [3]:
omdb_df.head()

,Unnamed: 0,imdb_id,Genre,Title,runtime,rated,Critics_scores
0,0,tt0000009,"Short, Romance",Miss Jerry,40 min,NaN,"[{'Source': 'Internet Movie Database', 'Value'..."
1,1,tt0000574,"Action, Adventure, Biography, Crime, Drama, Hi...",The Story of the Kelly Gang,70 min,Not Rated,"[{'Source': 'Internet Movie Database', 'Value'..."
2,2,tt0001892,Drama,Den sorte drøm,53 min,NaN,"[{'Source': 'Internet Movie Database', 'Value'..."
3,3,tt0002101,"Drama, History",Cleopatra,100 min,Unrated,"[{'Source': 'Internet Movie Database', 'Value'..."
4,4,tt0002130,"Adventure, Drama, Fantasy, Horror",Dante's Inferno,71 min,NaN,"[{'Source': 'Internet Movie Database', 'Value'..."

In [4]:
omdb_df['Critics_scores']=omdb_df['Critics_scores'].str.strip()

In [6]:
omdb_df['Critics_scores'].head()

0    [{'Source': 'Internet Movie Database', 'Value'...
1    [{'Source': 'Internet Movie Database', 'Value'...
2    [{'Source': 'Internet Movie Database', 'Value'...
3    [{'Source': 'Internet Movie Database', 'Value'...
4    [{'Source': 'Internet Movie Database', 'Value'...
Name: Critics_scores, dtype: object

In [7]:
omdb_df.drop(columns=['Critics_scores'])

,Unnamed: 0,imdb_id,Genre,Title,runtime,rated
0,0,tt0000009,"Short, Romance",Miss Jerry,40 min,NaN
1,1,tt0000574,"Action, Adventure, Biography, Crime, Drama, Hi...",The Story of the Kelly Gang,70 min,Not Rated
2,2,tt0001892,Drama,Den sorte drøm,53 min,NaN
3,3,tt0002101,"Drama, History",Cleopatra,100 min,Unrated
4,4,tt0002130,"Adventure, Drama, Fantasy, Horror",Dante's Inferno,71 min,NaN
...,...,...,...,...,...,...
29143,864,tt0054698,"Comedy, Drama, Romance",Breakfast at Tiffany's,115 min,Approved
29144,865,tt0049261,"Drama, Western",Giant,201 min,G
29145,866,tt0045793,"Drama, Romance, War",From Here to Eternity,118 min,Passed
29146,867,tt0037017,"Drama, War",Lifeboat,97 min,Not Rated
29147,868,tt0026029,"Crime, Mystery, Thriller",The 39 Steps,86 min,Approved

In [10]:
omdb_df['Unnamed: 0'].value_counts()

0        2
643      2
609      2
17       2
421      2
        ..
10608    1
8561     1
14706    1
12659    1
10219    1
Name: Unnamed: 0, Length: 28279, dtype: int64

In [11]:
omdb_df=omdb_df.drop(columns=['Critics_scores', 'Unnamed: 0'])

In [12]:
omdb_df.head()

,imdb_id,Genre,Title,runtime,rated
0,tt0000009,"Short, Romance",Miss Jerry,40 min,NaN
1,tt0000574,"Action, Adventure, Biography, Crime, Drama, Hi...",The Story of the Kelly Gang,70 min,Not Rated
2,tt0001892,Drama,Den sorte drøm,53 min,NaN
3,tt0002101,"Drama, History",Cleopatra,100 min,Unrated
4,tt0002130,"Adventure, Drama, Fantasy, Horror",Dante's Inferno,71 min,NaN

In [13]:
omdb_df['runtime']=omdb_df['runtime'].str.strip('min')

In [15]:
omdb_df['runtime']=omdb_df['runtime'].str.strip()

In [16]:
omdb_df.head()

,imdb_id,Genre,Title,runtime,rated
0,tt0000009,"Short, Romance",Miss Jerry,40,NaN
1,tt0000574,"Action, Adventure, Biography, Crime, Drama, Hi...",The Story of the Kelly Gang,70,Not Rated
2,tt0001892,Drama,Den sorte drøm,53,NaN
3,tt0002101,"Drama, History",Cleopatra,100,Unrated
4,tt0002130,"Adventure, Drama, Fantasy, Horror",Dante's Inferno,71,NaN

In [17]:
omdb_df.to_csv("omdb.csv")

In [18]:
omdb_df2=omdb_df.copy()

In [21]:
omdb3=omdb_df2.fillna('None')

In [22]:
omdb3.to_csv("omdb3.csv")

In [24]:
meh=omdb3.iloc[5827]

In [26]:
meh['Title']

'Fifa e arena'

In [28]:
omdb4=omdb3.drop_duplicates(subset=['imdb_id'], keep='last')

In [30]:
len(omdb4)

28801

In [32]:
omdb4.to_csv("omdb4.csv")